html {
  background-color: #3e3b44;
  height: 100%;
  min-height: 100%;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Share Tech Mono", monospace;
}
.header {
  width: 100%;
  background: #322f36;
  height: 48px;
  border-bottom: solid 0.1px #000000;
  position: relative;
}
.header div {
  color: #dcecec;
}
.header .status {
  padding-top: 12px;
  width: 800px;
  margin: 0 auto;
}
.header .logout {
  position: absolute;
  top: 12px;
  right: 0px;
}
.header .good {
  color: #49b76f;
}
.header .medium {
  color: #e2d924;
}
.header .poor {
  color: #a51030;
}
.header .logout {
  float: right;
}
.header .logout:hover {
  cursor: pointer;
}
.body {
  width: 800px;
  margin: 0 auto;
  padding: 5px;
  color: #dcecec;
}
h2 {
  color: #dcecec;
  border-bottom: solid 0.5px #c3c3c3;
  font-family: "Nova Mono", monospace;
  font-size: 2em;
  text-align: center;
  margin-top: 0;
  position: relative;
}
h2:after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  background: #3e3b44;
  /* Old browsers */
  background: -moz-linear-gradient(left, #3e3b44 0%, #badbda 50%, #3e3b44 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #3e3b44 0%, #badbda 50%, #3e3b44 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #3e3b44 0%, #badbda 50%, #3e3b44 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
input[type="text"],
input[type="password"],
button,
input[type="submit"] {
  display: block;
  margin: 4px 0;
}
button,
input[type="submit"] {
  width: 120px;
  height: 30px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  height: 40px;
  text-indent: 5px;
  background: #dcecec;
  border: 0;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background: #ffffff;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  font-family: "Share Tech Mono", monospace;
}
.link {
  padding: 5px;
}
.link a {
  color: #dcecec;
}
.link a:visited {
  color: #ffffff;
}
.link.odd {
  background: #dcecec;
  color: #3e3b44;
}
.link.odd a {
  color: #3e3b44;
}
.link.odd a:visited {
  color: #0c0c0d;
}
